.toolbar-icon {
  vertical-align: middle;
  padding: 0 14px;
  cursor: pointer;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-area {
  height: 31px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 2px 5px rgba(0, 0, 0, .18);
  background: #445370;
  color: #fff;
}

.toolbar-area-selected {
  background-color: #056169;
  color: white;
}
