<ag-grid-angular style="width: 100%; height: 100%;" [gridOptions]="gridOptions" [rowHeight]="37" [headerHeight]="38" class="ag-theme-material"
  [rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [rowSelection]="rowSelection" [enableColResize]="true"
  [components]="components" (selectionChanged)="onSelectionChanged($event)" [gridOptions]="gridOptions" [frameworkComponents]="frameworkComponents"
  (selectEditorValueChange)="selectEditorValueChange($event)" [headerHeight]="headerHeight" [pagination]="pagination" [paginationAutoPageSize]="paginationAutoPageSize"
  [editType]="editType">
</ag-grid-angular>
