<div>
</div>
<mat-toolbar color="white">
  <mat-toolbar-row>
    <div class="logowrapper">
      <img src="./assets/angular.png" class="logo" />
      <mat-icon class="toolbar-icon mT5" (click)="menuClick()">menu</mat-icon>
    </div>
    <span class="app-title mT5">Angular Material 6 App</span>
    <span class="toolbar-spacer"></span>
    <div class="toprightuser">
      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>supervisor_account</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
