<ng-template #tipContent>

  <div class="container">
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Steve Smith</td>
          <td>28</td>
        </tr>
        <tr>
          <td>David Warner</td>
          <td>29</td>
        </tr>
        <tr>
          <td>Joe Root</td>
          <td>27</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>
    Tooltips can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content in a
    <code>&lt;ng-template&gt;</code> element.
  </p>

</ng-template>
<button type="button" class="btn btn-outline-secondary" [ngbTooltip]="tipContent">
  I've got markup and bindings in my tooltip!
</button>
