<configuration>
  <system.webServer>
     <rewrite>
  <rules>
                <clear />
                <rule name="claimrule" enabled="false">
                    <match url="/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="/" />
                </rule>
               <rule name="redirect all" enabled="true" stopProcessing="true">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="." logRewrittenUrl="true" />
                </rule>
               
      
  </rules>
            
</rewrite>
  </system.webServer>
</configuration>